.buttonStyle {
  display: flex;
  background-color:  #3C75B9;
  color: white;
  margin-top: 0.5rem;
  align-items: center;
  justify-content: center;
  justify-self: center;
  padding: 0.3rem;
  width: 80%;
  max-width: 220px;
  height: 1.5rem;
}
