.labelStyle {
  font-family: ABeeZee;
  font-style: Regular;
  font-size: small;
  line-height: 15px;
  text-align: Left;
  vertical-align: top;
  font-weight: 400;
  padding-left: 0.2rem;
}

.inputStyle {
  width: 327px;
  height: 44px;
  position: relative;
  top: -0.5rem;
  padding-inline: 0.3rem;
  font-size: medium;
}
