.labelStyle {
  font-family: ABeeZee;
  font-style: Regular;
  font-size: small;
  line-height: 15px;
  text-align: Left;
  vertical-align: top;
  font-weight: 400;
  padding-left: 0.2rem;
  height: 0.2rem;
}

.inputStyle {
  height: 2rem;
  width: 65%;
  max-width: 15rem;
  position: relative;
  padding-inline: 0.3rem;
  font-size: medium;
}
