.header {
  &_con {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 1rem;
    height: 13vh;
  }
  &_profile-con {
    display: flex;
    align-items: center;
    margin-right: 1rem;
  }
  &_user-icon {
    height: 2rem;
    margin-right: 1rem;
  }
  &_profile-name {
    font-family: "Abhaya Libre ExtraBold";
    font-style: normal;
    font-weight: 800;
    font-size: large;
  }
  &_left-wrapper {
    display: flex;
    height: 2rem;
  }
  &_ksb-icon {
    height: 3rem;
  }
}
